/* Hero */
section#hero {
  height: 50vh;
  display: flex;
  align-items: center;
}

section#hero h1 {
  font-weight: bold;
  font-size: 50px;
}

@media (max-width: 768px) {
  section#hero h1 {
    font-size: 32px;
  }
}

section#hero small a {
  color: var(--color--primary);
}

section#hero small a:hover {
  text-decoration: underline;
}
/* End Hero */
